/* 这个文件里面放的是首页的样式 */
.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}
.focus {
    position: relative;/*子绝父相*/
    width: 720px;
    height: 455px;
    background-color: purple;
}
.arrow-l,
.arrow-r {
    position: absolute;/* 浮动元素和加了绝对定位的元素可以直接给大小 */
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;/*水平居中*/
    line-height: 40px;/*垂直居中*/
    color: #fff;
    font-family: icomoon;
    font-size: 18px;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;

}
.circle li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(250, 250, 250, 0.644);
    /* border: 1px solid #fff; */
    margin: 0 3px;
    border-radius: 50%;
    /* 鼠标经过显示小手 */
    cursor: pointer;
}
.current {
    background-color: #fff;
}
.newsflash {
    width: 250px;
    height: 455px;
    background-color: pink;
}