<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>初识Vue</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <h2>人员列表</h2>
            <input type="text" placeholder="请输入名字" v-model='keyword'>
            <ul>
                <li v-for="p in filtPersons" :key="p.id">
                    {{p.name}}--{{p.age}}--{{p.sex}}
                </li>
            </ul>
        </div>
    </body>

    <script type="text/javascript">
        Vue.config.productionTip = false
        //用watch实现模糊搜索
        // new Vue({
        //     el: '#root',
        //     data: {
        //         keyword:'',
        //         persons: [
        //             {id: '001', name:'马冬梅', age:18, sex:'女'},
        //             {id: '002', name:'周冬雨', age:19, sex:'女'},
        //             {id: '003', name:'周杰伦', age:20, sex:'男'},
        //             {id: '004', name:'温兆伦', age:20, sex:'男'},
        //         ],
        //         filtPersons: [],
        //     },
        //     watch: {
        //         keyword: {
        //             immediate: true,
        //             handler(val) {
        //                 this.filtPersons = this.persons.filter((p)=>{
        //                     return p.name.includes(val)
        //                 })
        //             }
        //         }
        //     }
        // })

        //用computed实现
        new Vue({
            el: '#root',
            data: {
                keyword:'',
                persons: [
                    {id: '001', name:'马冬梅', age:18, sex:'女'},
                    {id: '002', name:'周冬雨', age:19, sex:'女'},
                    {id: '003', name:'周杰伦', age:20, sex:'男'},
                    {id: '004', name:'温兆伦', age:20, sex:'男'},
                ],
            },
            computed: {
                filtPersons() {
                    return this.persons.filter((p)=>{
                        return p.name.includes(this.keyword)
                    })
                }
            }
        })
        
    </script>
</html>
